p {
	font-family:"Helvetica","Tahoma",sans-serif;
}

button {
	font-size: 1.0em;
}

#gameNameSection {
	visibility:hidden;
	text-align:center;
	margin-right:10%;
	margin-left:10%;
}

.underline {
	text-decoration: underline;
}

.newGameStyle {
	font-size:2.6em;
	margin-top:10px;
	margin-bottom:20px;
}

#bottomLine {
	border-top:2px dashed #DDDDDD;
	margin-bottom:12px;
}

.topText {
    text-align: center;
    -webkit-animation: fadein 3s; /* Safari and Chrome */
       -moz-animation: fadein 3s; /* Firefox */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera */
            animation: fadein 3s;
}

.topText h1 {
	font-family:"Helvetica","Tahoma", sans-serif;
	font-size:4.0em;
	font-weight:900;
	margin-top:10px;
	margin-bottom:20px;
}

.topText p {
	font-size:1.7em;
	font-weight:100;
}

#bottomLinks {
	visibility:hidden;
	margin-left: auto;
	margin-right:auto;
	text-align:center;
	float:center;
	margin-bottom:30px;
}

#bottomLinks p {
	font-size:0.6em;
	font-weight:100;
}

/* FADE-IN EFFECT */

@keyframes fadein {
    0% { opacity: 0; }
    33%   { opacity: 0; }
	100% {opacity:1;}
}

/* Firefox */
@-moz-keyframes fadein {
	0% { opacity: 0; }
	33%   { opacity: 0; }
	100% {opacity:1;}
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
	0% { opacity: 0; }
	33%   { opacity: 0; }
	100% {opacity:1;}
}

/* Internet Explorer */
@-ms-keyframes fadein {
	0% { opacity: 0; }
	33%   { opacity: 0; }
	100% {opacity:1;}
}​

/* Opera */
@-o-keyframes fadein {
	0% { opacity: 0; }
	33%   { opacity: 0; }
	100% {opacity:1;}
}​
