* {
	font-family: "Helvetica Neue", "Open Sans", "Helvetica", "Tahoma", sans-serif;
}

@media (max-width: 375px) {
	* {
		text-align: left;
	}

	body {
		margin: 0 32px;
	}

	.topText p.textFadeIn {
		font-size: 24px;
	}

	p.newGameStyle {
		font-size: 36px;
	}

	#gameNameSection {
		margin: 0;
	}
}

@media (min-width: 681px) {
	body {
		max-width: 1100px;
		margin: 0 auto;
	}	
}

button {
	border: none;
	border-radius: 8px;
	padding: 8px 16px 12px;
	font-size: 1.8em;

	background: linear-gradient(#ffaf64, #ff7d03);
	color: #222;

	cursor: pointer;

	box-shadow: 0 2px 8px 4px rgba(125, 125, 125, 0.4);

	transition: box-shadow 150ms ease-in-out;
}

button#btnSequel {
	margin-top: 16px;
}

button:hover {
	box-shadow: 0 2px 8px 4px rgba(125, 125, 125, 0.8);
}

#gameNameSection {
	visibility: hidden;
	text-align: center;
}

.underline {
	text-decoration: underline;
}

.newGameStyle {
	font-size:2.6em;
	font-weight: 700;
	margin-top:10px;
	margin-bottom:20px;
}

#bottomLine {
	border-top:2px dashed #DDDDDD;
	margin-bottom:12px;
}

.topText {
    text-align: center;
    -webkit-animation: fadein 3s; /* Safari and Chrome */
       -moz-animation: fadein 3s; /* Firefox */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera */
            animation: fadein 3s;
}

.topText h1 {
	font-size: 48px;
	font-weight: 900;
	margin-top: 10px;
	margin-bottom: 20px;
}

.topText p {
	font-size: 1.7em;
	font-weight: 100;
}

#twitterWrapper {
	display: none;
	margin-bottom: 16px;

	padding: 16px;
	background-color: rgba(150, 189, 216, 0.2);

	grid-auto-flow: column;
	grid-column-gap: 12px;
	justify-content: center;
	align-items: center;

	font-weight: 700;
}

#twitterWrapper.visible {
	display: grid;
}

#bottomLinks {
	visibility:hidden;
	margin-left: auto;
	margin-right:auto;
	text-align:center;
	float:center;
	margin-bottom:30px;
}

#bottomLinks p {
	font-size:0.6em;
	font-weight:100;
}

/* FADE-IN EFFECT */

@keyframes fadein {
    0% { opacity: 0; }
    33%   { opacity: 0; }
	100% {opacity:1;}
}

/* Firefox */
@-moz-keyframes fadein {
	0% { opacity: 0; }
	33%   { opacity: 0; }
	100% {opacity:1;}
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
	0% { opacity: 0; }
	33%   { opacity: 0; }
	100% {opacity:1;}
}

/* Internet Explorer */
@-ms-keyframes fadein {
	0% { opacity: 0; }
	33%   { opacity: 0; }
	100% {opacity:1;}
}​

